/* form input */

$size_input: 47.5px;


/* Task Colo */
$color_input: #0A122A;
$color_check: #01DF01;
$color_trash: #B40404;
$color_font: #f5ecce;

$night_mode: #0A122A;
$day_mode: #ffffff;


/* night day mode switch*/

$translateX_size: 26px;
$switchTime_transition: .4s;

